#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.App {
  width: 100%;
  height: 100%;
}

/* NavBar */
.NavBar {
  background-color: var(--color-primary);
  height: 10%;
}

.NavBar img {
  width: 2em;
  height: 2em;
  aspect-ratio: 1;
}

.NavBar .Container-Logo {
  background-color: white;
  border: 2px solid var(--color-tertiary);
  border-radius: 100%;
}

.dropdown-item.active, .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #0B4A6F !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #0B4A6F !important;
  color: white !important;

}

/*SideBar */
.SideBar {
  background-color: var(--color-secondary);
  height: 100%;
}

.Indicator-Step {
  display: flex;
  aspect-ratio: 1;
  padding: 5px;
  background: #FF7900;
  color: white;
  border-radius: 100%;
}

.SideBar fieldset:disabled .btn{
  background-color: #0b4a6f33 !important;
  border-color: transparent !important;
  color: #0B4A6F !important;
  opacity: 1 !important;
}

.SideBar .btn:disabled, fieldset:disabled .btn{
  background-color: #0b4a6f33 !important;
  border-color: transparent !important;
  color: #0B4A6F !important;
  opacity: 1 !important;
}

.SideBar .btn.disabled{
  background-color: #0b4a6f33 !important;
  border-color: transparent !important;
  color: #0B4A6F !important;
  opacity: 1 !important;
}

.Indicator-Step-Success {
  display: flex;
  aspect-ratio: 1;
  padding: 5px;
  background: #28a745;
  color: white;
  border-radius: 100%;
}

.SideBar .accordion-item{
  background-color: transparent;
  --bs-accordion-border-color: transparent !important;
}

.SideBar .accordion-button{
  --bs-accordion-btn-color: #0B4A6F !important;
  background-color: transparent;
  gap: 1rem;
  --bs-accordion-btn-padding-x: 0.75rem;
  --bs-accordion-btn-padding-y: 0.375rem;
  --bs-accordion-active-bg: transparent !important;
}

.SideBar .accordion-button:hover{
  --bs-accordion-btn-color: #0B4A6F !important;
  background-color: #F0F9FF !important;
  gap: 1rem;
  --bs-accordion-btn-padding-x: 0.75rem;
  --bs-accordion-btn-padding-y: 0.375rem;
  --bs-accordion-active-bg: transparent !important;
}

.SideBar .accordion-button:focus{
  box-shadow: none;
}

.SideBar button {
  --bs-btn-color: #0B4A6F !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-bg: #F0F9FF !important;
  --bs-btn-hover-border-color: transparent !important;
}

.SideBar {
  position: relative;
}

.bg-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* top: 0px; */
  /* bottom: 0px; */
  left: 40px;
  /* right: 0px; */
  transform: rotate(90deg);
  transform-origin: left;
}

/* Page */
.Page {
  width: 85%;
  height: -webkit-fill-available;
  overflow: auto;
}

.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-name {
  font-size: 14px;
}

.active .step-number {
  background-color: #007bff;
  color: #fff;
}

.complete .step-number {
  background-color: #28a745;
  color: #fff;
}

.progress-bar_s {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ef0000 !important;
}

.progress_s {
  height: 100%;
  background-color: #28a745 !important;
  transition: 0.2s ease;
}

/* Settings Table */
.table {
  --bs-table-bg: transparent !important;
}


thead{
  background-color: #0B4A6F !important; /* Background Head Table */
  color: white !important; /* Text Head Table */
  --bs-table-color: white !important; /* Text Head Table */
}



tbody {
  background-color: white !important;
}

.AnimationLoading{
  background: #bae1fd86;
}



.range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label{
  background-color: transparent !important;
  opacity: 1 !important;
}


.accordion-button{
  --bs-accordion-btn-active-icon: none !important;
  --bs-accordion-btn-icon: none !important;
}


h1{
  color: #0B4A6F !important;
}

hr{
  border-top: 2px solid #0B4A6F !important;
}